<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leetai.mapping.UserMapper">
	<resultMap id="BaseResultMap" type="com.leetai.modle.User">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="telphone" property="telphone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="use_flag" property="useFlag" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, username, password, telphone, email, add_time, use_flag, type
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<select id="selectByUsername" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where username = #{username,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_user
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.leetai.modle.User">

		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="userId">
			SELECT LAST_INSERT_ID()
		</selectKey>

		insert into sys_user (user_id, username, password,
		telphone, email, add_time,
		use_flag, type)
		values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{telphone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP},
		#{useFlag,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.leetai.modle.User">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="telphone != null">
				telphone,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="useFlag != null">
				use_flag,
			</if>
			<if test="type != null">
				type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="telphone != null">
				#{telphone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="useFlag != null">
				#{useFlag,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.leetai.modle.User">
		update sys_user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="telphone != null">
				telphone = #{telphone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="useFlag != null">
				use_flag = #{useFlag,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.leetai.modle.User">
		update sys_user
		set username = #{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		telphone = #{telphone,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=TIMESTAMP},
		use_flag = #{useFlag,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR}
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
</mapper>