<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leetai.mapping.PublishMapper" >
  <resultMap id="BaseResultMap" type="com.leetai.modle.Publish" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="p_title" property="pTitle" jdbcType="VARCHAR" />
    <result column="p_description" property="pDescription" jdbcType="VARCHAR" />
    <result column="p_type" property="pType" jdbcType="VARCHAR" />
    <result column="p_price" property="pPrice" jdbcType="DOUBLE" />
    <result column="p_img" property="pImg" jdbcType="VARCHAR" />
  <!--    <result column="p_user_id" property="pUserId" jdbcType="INTEGER" />-->
    <result column="p_address" property="pAddress" jdbcType="VARCHAR" />
    <result column="p_add_time" property="pAddTime" jdbcType="DATE" />
    <result column="p_flag" property="pFlag" jdbcType="INTEGER" />
 
    <association property="pUser" column="p_user_id"
			javaType="com.leetai.modle.User" select="com.leetai.mapping.UserMapper.selectByPrimaryKey">
		</association>
  </resultMap>
  <sql id="Base_Column_List" >
    p_id, p_title, p_description, p_type, p_price, p_img, p_user_id, p_address, p_add_time, 
    p_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select t.*,d.*
    <!--     <include refid="Base_Column_List" />-->
    from p_publish t left join sys_user d on t.p_user_id = d.user_id
    where t.p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_publish
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leetai.modle.Publish" >
    insert into p_publish (p_id, p_title, p_description, 
      p_type, p_price, p_img, 
      p_user_id, p_address, p_add_time, 
      p_flag)
    values (#{pId,jdbcType=INTEGER}, #{pTitle,jdbcType=VARCHAR}, #{pDescription,jdbcType=VARCHAR}, 
      #{pType,jdbcType=VARCHAR}, #{pPrice,jdbcType=DOUBLE}, #{pImg,jdbcType=VARCHAR}, 
      #{pUserId,jdbcType=INTEGER}, #{pAddress,jdbcType=VARCHAR}, #{pAddTime,jdbcType=DATE}, 
      #{pFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.leetai.modle.Publish" >
    insert into p_publish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="pTitle != null" >
        p_title,
      </if>
      <if test="pDescription != null" >
        p_description,
      </if>
      <if test="pType != null" >
        p_type,
      </if>
      <if test="pPrice != null" >
        p_price,
      </if>
      <if test="pImg != null" >
        p_img,
      </if>
      <if test="pUserId != null" >
        p_user_id,
      </if>
      <if test="pAddress != null" >
        p_address,
      </if>
      <if test="pAddTime != null" >
        p_add_time,
      </if>
      <if test="pFlag != null" >
        p_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pTitle != null" >
        #{pTitle,jdbcType=VARCHAR},
      </if>
      <if test="pDescription != null" >
        #{pDescription,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        #{pType,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null" >
        #{pPrice,jdbcType=DOUBLE},
      </if>
      <if test="pImg != null" >
        #{pImg,jdbcType=VARCHAR},
      </if>
      <if test="pUserId != null" >
        #{pUserId,jdbcType=INTEGER},
      </if>
      <if test="pAddress != null" >
        #{pAddress,jdbcType=VARCHAR},
      </if>
      <if test="pAddTime != null" >
        #{pAddTime,jdbcType=DATE},
      </if>
      <if test="pFlag != null" >
        #{pFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leetai.modle.Publish" >
    update p_publish
    <set >
      <if test="pTitle != null" >
        p_title = #{pTitle,jdbcType=VARCHAR},
      </if>
      <if test="pDescription != null" >
        p_description = #{pDescription,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        p_type = #{pType,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null" >
        p_price = #{pPrice,jdbcType=DOUBLE},
      </if>
      <if test="pImg != null" >
        p_img = #{pImg,jdbcType=VARCHAR},
      </if>
      <if test="pUserId != null" >
        p_user_id = #{pUserId,jdbcType=INTEGER},
      </if>
      <if test="pAddress != null" >
        p_address = #{pAddress,jdbcType=VARCHAR},
      </if>
      <if test="pAddTime != null" >
        p_add_time = #{pAddTime,jdbcType=DATE},
      </if>
      <if test="pFlag != null" >
        p_flag = #{pFlag,jdbcType=INTEGER},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leetai.modle.Publish" >
    update p_publish
    set p_title = #{pTitle,jdbcType=VARCHAR},
      p_description = #{pDescription,jdbcType=VARCHAR},
      p_type = #{pType,jdbcType=VARCHAR},
      p_price = #{pPrice,jdbcType=DOUBLE},
      p_img = #{pImg,jdbcType=VARCHAR},
      p_user_id = #{pUserId,jdbcType=INTEGER},
      p_address = #{pAddress,jdbcType=VARCHAR},
      p_add_time = #{pAddTime,jdbcType=DATE},
      p_flag = #{pFlag,jdbcType=INTEGER}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  
  
   <select id="findAllByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_publish
    where p_user_id = #{pUserId,jdbcType=INTEGER}  order by p_id desc 
  </select>
    <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_publish  order by p_id desc 
  </select>
</mapper>